* {
  font-family: "Roboto", sans-serif;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

nav {
  width: 100%;
}

#logo {
  display: flex;
  flex-direction: row;
  height: 150px;
  align-content: space-between;
  width: 100%;
  padding: 10px;
  align-items: center;
  background-image: url("../images/cornerdecoration.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 30%;
}

#logo > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80px;
  width: 200px;
}

#logo > img {
  height: 80px;
}

#logo > p {
  font-size: 10px;
  align-items: end;
  width: 100px;
  height: 40px;
}

#search {
  z-index: 9;
  width: 80px;
}

#menu {
  background-color: #d9d9d9;
  height: 50px;
  align-items: center;
  width: 100%;
}
#menu > .fa-house {
  padding: 0px 4px;
}

#menu > .fa-greater-than {
  padding: 0px 4px;
}

#menutext {
  display: flex;
  padding: 15px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(90deg, #33333388 0%, #33333388 100%),
    url("../images/pexels-jonathan-petersson-1076180.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

header > .imgheadeline {
  color: #ffff;
  z-index: 9;
  width: 200px;
  text-align: center;
  font-size: 32px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 10px;
  align-items: center;
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px;
}
#name {
  width: 300px;
  padding: 5px;
  margin: 5px;
}

#phone {
  width: 300px;
  padding: 5px;
  margin: 5px;
}

#text {
  padding: 5px;
  height: 200px;
  margin: 5px;
  width: 300px;
}

#submit {
  width: 150px;
  padding: 5px;
  margin: 5px;
  background-color: #cc0000;
  color: #ffff;
  border-radius: 5px;
  border: none;
}

#submit:hover {
  scale: 1.1;
}

main > .articles {
  display: flex;
  flex-direction: column;
  align-content: start;
  margin: 20px;
  padding: 20px;
  justify-content: space-around;
  width: 200px;
}

main > .articleImg {
  height: 120px;
  transform: scaleX(-1);
  width: 120px;
}

#article1,
#article2 {
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 200px;
  padding: 20px;
  border-left: purple 10px solid;
  align-items: start;
  margin: 10px;
  background-color: #6f6e67;
}
#article1,
#article2 > div {
  display: flex;
  align-items: start;
  justify-content: end;
  text-align: start;
  flex-direction: column;
}

a:hover {
  text-decoration: underline;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #6f6e67;
  color: #ffff;
  justify-content: space-around;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

footer > div {
  height: 70px;
  font-size: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
footer > img {
  height: 60px;
}

footer > p {
  width: 100px;
  height: 40px;
}

#text {
  display: flex;
  font-size: 14px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.person2 {
  height: 200px;
}
